<h1>Edit Event</h1>
<form method="post" action="/events/<%= @event.id %>/edit">
  <label>Name</label>
  <input type="text" id="name" name="name" value="<%= @event.name %>">
  <label>Date</label>
  <input type="text" id="date" name="date" value="<%= @event.date %>">

  <input type="submit" value="Submit">
</form>

<a href="/logout">Log Out</a>
