<h1><%= "#{@user.name}'s Events" %></h1>
<a href="/logout">Log Out</a><br><br>

<a href="/events/new">Create New Event</a>
<% @events.each do |event| %>
  <ul>
    <li><a href="/events/<%= event.id %>"><%= event.name %>    <%= event.date %></a></li>
  </ul>
<% end %>
