<h1>Create Event</h1>
<form method="post" action="/events/new">
  <label>Name</label>
  <input type="text" id="name" name="name"><br><br>
  <label>Date</label>
  <input type="text" id="date" name="date"><br><br>

  <input type="submit" value="Create">
</form>

<a href="/logout">Log Out</a>
