<h1><%= @event.name %></h1>
<h3><%= @event.date %></h3>

<a href="/logout">Log Out</a><br>
<a href="/events">All Events</a><br>
<a href="/events/<%= @event.id %>/delete">Delete Event</a><br><br>
<a href="/gifts/new">Create New Gift</a>
