<h1><%= @event.name %></h1>
<h3><%= @event.date %></h3>

<a href="/gifts/new">Create New Gift</a>


<form method="post" action="/events/<%= @event.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Event">
</form>
<a href="/events">All Events</a>
