<h1>Create New Gift</h1>

<form method="post" action="/gifts/new">
  <label>Name</label>
  <input type="text" id="name" name="name">
  <label>Gift Giver(s)</label>
    <% @givers.each do |giver| %>
      <option value="<%= giver.id %>"><%= giver.name %></option>
    <% end %>
    
