<h1>Log In</h1>
<form method="post" action="/login">
  <label>Username</label>
  <input type="text" id="username" name="username">
  <label>Password</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Log In">
</form>
