<h1>Sign Up</h1>
<form method="post" action="/signup">
  <label>Name</label>
  <input type="text" id="name" name="name">
  <label>Email</label>
  <input type="text" id="email" name="email">
  <label>Password</label>
  <input type="password" id="password" name="password">

  <input type="submit" value="Sign Up">
</form>
